{{>header}}

    <section id="profileSection">
		<div class="container">

			<h1>{{title}}</h1>

			<div id="profile" >

				{{>profilehead}}
			
				<div id="sidebarContant" class="row">
					<div class="col-lg-3">
						{{>sidebar}}
					</div>
					<div class="col-lg-9">
						<div id="profileEditArea">
                            <table class="table table-bordered table-striped" style="vertical-align: middle;">
                                <tr>
                                    <th>S.no</th>
                                    <th>Reciept Image</th>
                                    <th>Points</th>
                                    <th>OCR Status</th>
                                     <th>Date and Time</th>
                                </tr>
                                {{#if pointshistory}}
                                {{#each pointshistory}}
                                <tr>
                                    <td>{{addOne @index}}</td>
                                    <td><img width="120" src="{{siteurl}}/uploads/{{reciept}}"></td>
                                    <td>{{points}}</td>
                                    <td>{{ocr_status}}</td>
                                    <td>{{formatDate createdAt "long"}}</td>
                                </tr>
                                {{/each}}
                                {{else}}
                                <tr>
                                    <td class="text-center" colspan="5">None of Reciept history records</td>
                                </tr>
                                {{/if}}
                            </table>
					    </div>
                    </div>
				</div>

			</div>

		</div>				
	</section>

{{>footer}}